#admin_login_register_cover { height: 500px; }

span.infos {
    font-size: 12px;
    line-height: 15px;
    display: inline-block;
    color: #d93025;
    background-color: #faede7;
    border: 1px solid #d87575;
    padding: 4px;
    font-weight: bold;
    margin: 2px;
}
span.infos i { margin-right: 0px; }

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu, .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text { border: 1px solid #ced4da; }

.sidebar-search input.search-menu::placeholder { color: #fff; }

.select2-container .select2-selection--single { height: calc(2.25rem + 2px) !important; }
.select2-container--default .select2-selection--single .select2-selection__rendered { padding-top: 5px; }
.select2-container--default .select2-selection--single .select2-selection__arrow { height: 35px !important; }

.family_order_cover .select2-container { width: 100px !important; }
#profession_list_cover .select2-container { width: 85% !important; }
#city_list_cover .select2-container { width: 60% !important; }
.input-group-append .btn, .input-group-prepend .btn { z-index: 0 !important; }
#search_column_cover .select2-container { width: 150px !important; }

.table-responsive { scrollbar-width: thin; }
.image-upload .row {
	max-width: 100%;
	margin: 0;
}
.image-upload label { cursor: pointer; }
.image-upload .row div { margin-bottom: 10px; }
.image-upload .row div div.cover {
	padding: 10px; 
	border-radius: 10px;
	position: relative;
	margin: 0;
	display: inline-block;
	text-align: center;
	max-width: 100%;
	border: 1px solid #ced4da;
}
.image-upload .row div div.cover button {
	position: absolute;
	right: 3px;
	top: 3px;
	border-radius: 20%;
}
.image-upload .row div div.cover img {
	cursor: pointer;
	max-width: 100%;
}
.image-upload .row div div.cover input[type="text"] { margin-top: 10px; }


.multiple_upload_image_list .banner_div {
	border-radius: 10px;
	position: relative;
	display: inline-block;
	text-align: center;
	border: 1px solid #ced4da;
}
.multiple_upload_image_list .banner_div a { display: inline-block; }
.multiple_upload_image_list .banner_div button {
	position: absolute;
	right: 3px;
	top: 3px;
	border-radius: 20%;
}

.member_upload_details {
	position: fixed;
	right: 100px;
	top: 250px;
	background-color: #343a40;
	border: 1px solid #a89f9f;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	font-size: 13px;
	line-height: 15px;
	z-index: 999;
}
.member_upload_details .upload_count, .member_upload_details .upload_total_count {
	background-color: red;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 12px;
	line-height: 12px;
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	.pagination_cover .select2-container { width: 100px !important; }
}

.total_records {
	font-size: 20px;
	line-height: 20px;
	color: red;
}

.datepicker-dropdown { min-width: 15rem; }
.datepicker-dropdown table { width: 100%; }
.datepicker-dropdown table .datepicker-switch { text-align: center; }
.datepicker-dropdown table .dow, .datepicker-dropdown table .day { padding: 3px; text-align: center; }
.datepicker-dropdown table .active { background-color: #f00; }
.datepicker-dropdown table .disabled { background-color: #555; }